<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="/css/products/styles-detallesProduct.css"
    />
    <title>Detalles</title>
  </head>

  <body>
 
    <div class="espacioEnBlanco"></div>
    <div class="cont-Detalles">
      <div class="colLogo" style="background-image: url(/img/products/Logos/VolkswagenPNG.png);"></div>
      <!-- <div class="datosDetalles"> -->
        <!-- <div class="filaUno"> -->
          <div class="colDetalle">
            <p class="estDetalle">Motor</p>
            <a class="dinamDetalle"><%= miAuto.motor %></a>
          </div>

          <div class="colDetalle">
            <p class="estDetalle">Combustible</p>
            <a class="dinamDetalle"><%= miAuto.combustible %></a>
          </div>

          <div class="colDetalle">
            <p class="estDetalle">Color</p>
            <a class="dinamDetalle"><%= miAuto.color %></a>
          </div>
        <!-- </div>
        <div class="filaDos"> -->
          <div class="colDetalle">
            <p class="estDetalle">Año</p>
            <a class="dinamDetalle"><%= miAuto.año %></a>
          </div>

          <div class="colDetalle">
            <p class="estDetalle">Kilometros</p>
            <a class="dinamDetalle"><%= miAuto.kilometros %></a>
          </div>

          <div class="colDetalle">
            <p class="estDetalle">Precio</p>
            <a class="dinamDetallePrecio">$ <%= miAuto.precio %></a>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </body>

</html>
